body {
    background-color: rgb(143, 88, 143);
}

h1 {
    color: white
}

p {
    color: white
}

a {
    color: white
}

h2 {
    color: white
}

h3 {
    color: blue
}

.meny {
    display: flex;
    gap: 20px;
}


